# Redirect old file path to new file path
Redirect /floral2.html /floral.html

# Redirect old file path to new file path
Redirect /floral3.html /floral.html

# Redirect old file path to new file path
Redirect /floral4.html /floral.html

# Redirect old file path to new file path
Redirect /floral5.html /floral.html
