# Redirect old file path to new file path
Redirect http://doilybox.com/floral2.html http://doilybox.com/floral.html

# Redirect old file path to new file path
Redirect http://doilybox.com/floral3.html http://doilybox.com/floral.html

# Redirect old file path to new file path
Redirect http://doilybox.com/floral4.html http://doilybox.com/floral.html

# Redirect old file path to new file path
Redirect http://doilybox.com/floral5.html http://doilybox.com/floral.html
